* {
    font-family: "Monospace", "DejaVu Sans Mono", monospace;
    font-size: 13px;
    color: #ff0000;
}

window#waybar {
    background-color: #000000;
    border-bottom: 1px solid #ff0000;
}

#workspaces button {
    color: #ff0000;
    background: transparent;
    padding: 0 3px;
    border: 1px solid #330000;
    margin: 0 1px;
}

#workspaces button.active {
    background-color: #330000;
    border-top: 1px solid #ff0000;
}

#cpu, #memory, #temperature, #battery, #network, 
#pulseaudio, #clock, #tray, #custom-power {
    background-color: #111111;
    border-left: 1px solid #330000;
    border-right: 1px solid #330000;
    padding: 0 12px;
    margin: 0 1px;
}

#battery.critical {
    background-color: #990000;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% { background-color: #ff0000; }
}

#network.disconnected {
    color: #990000;
}

#pulseaudio.muted {
    color: #990000;
}

#temperature.critical {
    color: #ffffff;
    background-color: #ff0000;
}

#window {
    color: #ff5555;
    background-color: #111111;
    padding: 0 10px;
}
